@import "../vars";

.main4 {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5%;
  color: $textcolor;

  h2 {
    font-family: Roboto;
    font-size: 42px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
  }

  p {
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
  }

  div {
    width: 10%;
    height: 6px;
    background: $red;
  }
}
