@import "./assets/_vars";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

body {
  background: $main;
  color: $textcolor;
}

$primary-color: #b50014;
$padding-y: 6rem;
$gap: 1.5rem;

$tablet: "only screen and (min-width: 768px)";
$laptop: "only screen and (min-width: 1024px)";
$desktop: "only screen and (min-width: 1440px)";

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
}
